@CHARSET "ISO-8859-1";

div.meal-container {
  width: 95%;
  margin: 2%;
  text-align: justify:
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}

.box {
  width: 250px;
  height: 300px;
  min-height: 300px;
  padding: 10px;
  margin: 8px;
  border: 1px solid gray;
  border-radius: 7px;
  overflow: hidden;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-overflow: ellipsis;
  background-color: #F0F0F0;
  box-shadow: 5px 5px 5px #888888;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;
}

.box:hover {
  overflow: visible;
  height: auto;
  background-color: #C8C8C8;
  margin-top: 2px;
}


.box .contents {
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  width: 95%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 7px;
  background-color: white;
  font-size: 14px;
  margin-top: 10px;
}

.contents .name {
  font-size: 18px;
  font-weight: bold;
}

.contents .nutritional-facts {
  display: block;
}

.head {
  font-size: 16px;
  font-weight: bold;
}

.box hr {
  border-color: black;
  background-color: black;
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}